@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'poppins' ,sans-serif;
}

body{
    min-height: 100vh;
    background: linear-gradient(135deg,#667eea,#764ba2);
    display:flex;
    justify-content: center;
    align-items: center;
}

.container{
    background:#ffffff;
    width:360px;
    padding:25px;
    border-radius: 15px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.amount p,.form p, .to p{
    margin-bottom: 6px;
    font-size: 14px;
    color:#555;
}

.amount input{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
    outline: none;
}

.amount input:focus{
    border-color: #667eea;
}

.dropdown{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0;
}

.form,.to{
    width: 45%;

}

.select-container{
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 6px;
}

.select-container img{
    width: 32px;
}

.select-container select{
    width:100%;
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
    background:none;
}

.dropdown i{
    font-size: 18px;
    color: #667eea;
    cursor: pointer;
    transition: transform 0.3 ease;
}

.dropdown i :hover{
    transform:rotate(180deg);
}

.msg{
    text-align: center;
    margin: 15px 0;
    font-size: 15px;
    color:#333;
    font-weight: 500;
}

button {
    width: 100%;
    padding: 12px;
    background: linear-gradient(135deg, #667eea, #764ba2);
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    opacity: 0.9;
    transform: translateY(-2px);
}


@media (max-width: 400px) {
    .container {
        width: 90%;
    }
}